@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Meera+Inimai&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;